In [2]:
import pandas as pd
fname_input = 'TSLA.csv'
data = pd.read_csv(fname_input)

In [3]:
print(data.head())

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500
1  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
2  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
3  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
4  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500

In [4]:
data['upDown'] = 2 # 0 : down, 1: up, 2 : same
print(data.head())

         Date   Open   High    Low  Close  Adj Close    Volume  upDown
0  2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500       2
1  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500       2
2  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000       2
3  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000       2
4  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500       2

In [5]:
for i in range(data.shape[0]) :
    num = data.loc[i, 'Close'] - data.loc[i, 'Open']
    if num < 0 : data.loc[i, 'upDown'] = 0
    elif num > 0 : data.loc[i, 'upDown'] = 1
    else : data.loc[i, 'upDown'] = 2

In [6]:
print(data.head())

         Date   Open   High    Low  Close  Adj Close    Volume  upDown
0  2010-06-29  3.800  5.000  3.508  4.778      4.778  93831500       1
1  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500       0
2  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000       0
3  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000       0
4  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500       0

In [7]:
data.to_csv('TSLA_addStockComp.csv')