In [1]:
from sklearn.preprocessing import LabelEncoder
from textblob import TextBlob
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('elonmusk.csv', encoding='UTF-8')
df.head()

,Tweet,UserScreenName,UserName,Timestamp,text,Emojis,Comments,Likes,Retweets,Image link,Tweet URL
0,0,Elon Musk,@elonmusk,2010-06-04T18:31:57.000Z,"Please ignore prior tweets, as that was someon...",NaN,873,648,"5,453",[],https://twitter.com/elonmusk/status/15434727182
1,1,Elon Musk,@elonmusk,2011-12-01T09:55:11.000Z,Went to Iceland on Sat to ride bumper cars on ...,NaN,30,24,188,['https://pbs.twimg.com/media/Afkf5DMCAAEJGFr?...,https://twitter.com/elonmusk/status/1421799282...
2,2,Elon Musk,@elonmusk,2011-12-01T10:29:04.000Z,I made the volume on the Model S http://ow.ly/...,NaN,29,17,78,[],https://twitter.com/elonmusk/status/1421884581...
3,3,Elon Musk,@elonmusk,2011-12-03T08:20:28.000Z,"Great Voltaire quote, arguably better than Twa...",NaN,23,30,44,[],https://twitter.com/elonmusk/status/1428808713...
4,4,Elon Musk,@elonmusk,2011-12-03T08:22:07.000Z,That was a total non sequitur btw\n26\n14\n50,NaN,26,14,50,[],https://twitter.com/elonmusk/status/1428812840...

In [3]:
df1 = df.drop(['UserScreenName', 'UserName', 'Emojis', 'Comments', 'Likes', 'Image link', 'Tweet URL'], axis = 1)
df1.rename(columns={'Tweet':'ID', 'Timestamp':'Time', 'text':'Tweet'}, inplace=True)

In [4]:
df1.Tweet = df1.Tweet.astype(str)
tweet_lens = []
for tweet in df1.Tweet:
    tweet_lens.append(len(tweet))

In [5]:
df_tweet_len = pd.DataFrame(tweet_lens)
df_tweet_len.columns = ['Tweet Length']
df1 = pd.concat([df1, df_tweet_len], axis=1)

In [6]:
df1.head()

,ID,Time,Tweet,Retweets,Tweet Length
0,0,2010-06-04T18:31:57.000Z,"Please ignore prior tweets, as that was someon...","5,453",106
1,1,2011-12-01T09:55:11.000Z,Went to Iceland on Sat to ride bumper cars on ...,188,129
2,2,2011-12-01T10:29:04.000Z,I made the volume on the Model S http://ow.ly/...,78,125
3,3,2011-12-03T08:20:28.000Z,"Great Voltaire quote, arguably better than Twa...",44,145
4,4,2011-12-03T08:22:07.000Z,That was a total non sequitur btw\n26\n14\n50,50,42

In [7]:
df = df1

In [8]:
df.drop(columns=['ID'], inplace=True)

In [9]:
df.head()

,Time,Tweet,Retweets,Tweet Length
0,2010-06-04T18:31:57.000Z,"Please ignore prior tweets, as that was someon...","5,453",106
1,2011-12-01T09:55:11.000Z,Went to Iceland on Sat to ride bumper cars on ...,188,129
2,2011-12-01T10:29:04.000Z,I made the volume on the Model S http://ow.ly/...,78,125
3,2011-12-03T08:20:28.000Z,"Great Voltaire quote, arguably better than Twa...",44,145
4,2011-12-03T08:22:07.000Z,That was a total non sequitur btw\n26\n14\n50,50,42

In [11]:
df = df[['Time', 'Tweet', 'Retweets', 'Tweet Length']]

In [12]:
df.head()

,Time,Tweet,Retweets,Tweet Length
0,2010-06-04T18:31:57.000Z,"Please ignore prior tweets, as that was someon...","5,453",106
1,2011-12-01T09:55:11.000Z,Went to Iceland on Sat to ride bumper cars on ...,188,129
2,2011-12-01T10:29:04.000Z,I made the volume on the Model S http://ow.ly/...,78,125
3,2011-12-03T08:20:28.000Z,"Great Voltaire quote, arguably better than Twa...",44,145
4,2011-12-03T08:22:07.000Z,That was a total non sequitur btw\n26\n14\n50,50,42

In [13]:
df.Time.dtypes

dtype('O')

In [14]:
df['Time'] = pd.to_datetime(df['Time'])

In [15]:
df.head()

,Time,Tweet,Retweets,Tweet Length
0,2010-06-04 18:31:57+00:00,"Please ignore prior tweets, as that was someon...","5,453",106
1,2011-12-01 09:55:11+00:00,Went to Iceland on Sat to ride bumper cars on ...,188,129
2,2011-12-01 10:29:04+00:00,I made the volume on the Model S http://ow.ly/...,78,125
3,2011-12-03 08:20:28+00:00,"Great Voltaire quote, arguably better than Twa...",44,145
4,2011-12-03 08:22:07+00:00,That was a total non sequitur btw\n26\n14\n50,50,42

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12206 entries, 0 to 12205
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Time          12206 non-null  datetime64[ns, UTC]
 1   Tweet         12206 non-null  object
 2   Retweets      12206 non-null  object
 3   Tweet Length  12206 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 381.6+ KB

In [17]:
xxx = df.Tweet[0]

In [18]:
xxx

'Please ignore prior tweets, as that was someone pretending to be me :)  This is actually me.\n873\n648\n5,453'

In [19]:
tweet_list = df.Tweet.tolist()

In [20]:
tweet_list[0]

'Please ignore prior tweets, as that was someone pretending to be me :)  This is actually me.\n873\n648\n5,453'

In [21]:
def clean_tweet_http(dirty_string):
    sep = "https://" 
    if sep in dirty_string:
        clean = dirty_string.split(sep, 1)[0]
    else:
        clean = dirty_string
    return clean

In [22]:
clean_tweets1 = []

for i in range(0, len(tweet_list)):
    x = clean_tweet_http(tweet_list[i])
    clean_tweets1.append(x)

In [23]:
clean_tweets1[:10]

['Please ignore prior tweets, as that was someone pretending to be me :)  This is actually me.\n873\n648\n5,453',
 "Went to Iceland on Sat to ride bumper cars on ice!  No, not the country, Vlad's rink in Van Nuys. Awesome family fun :)\n30\n24\n188",
 'I made the volume on the Model S http://ow.ly/i/mtD7 go to 11.  Now I just need to work in a miniature Stonehenge...\n29\n17\n78',
 'Great Voltaire quote, arguably better than Twain. Hearing news of his own death, Voltaire replied the reports were true, only premature.\n23\n30\n44',
 'That was a total non sequitur btw\n26\n14\n50',
 'Am reading a great biography of Ben Franklin by Isaacson. Highly recommended.\n18\n18\n80',
 'Got called randomly by Kanye West today and received a download of his thoughts, ranging from shoes to Moses. He was polite, but opaque.\n30\n675\n1,682',
 'Model S options are out! Performance in red and black for me.  I will deliver my car in June/July.\n49\n88\n697',
 'Yum! Even better than deep fried butter: http://ow.ly/877EB\n23\n24\n165',
 "Hi, I'm Art Garfunkel. Have you heard the sound of silence? Because, you know, it makes a sound...\n86\n211\n941"]

In [24]:
xxx = clean_tweets1[1]

result = re.sub('RT @([A-Za-z0-9_]+\:) ', '', xxx)
result

"Went to Iceland on Sat to ride bumper cars on ice!  No, not the country, Vlad's rink in Van Nuys. Awesome family fun :)\n30\n24\n188"

In [25]:
result = re.sub('@([A-Za-z0-9_]+) ', '', xxx)
result

"Went to Iceland on Sat to ride bumper cars on ice!  No, not the country, Vlad's rink in Van Nuys. Awesome family fun :)\n30\n24\n188"

In [26]:
def clean_tweet_usernames(dirty_string):
    sep = "https://" 
    if sep in dirty_string:
        clean = dirty_string.split(sep, 1)[0]
    else:
        clean = dirty_string
    return clean

In [27]:
clean_tweets2 = []

for i in range(0, len(clean_tweets1)):
    for tweet in clean_tweets1:
        result = re.sub('@([A-Za-z0-9_]+) ', '', tweet)
        clean_tweets2.append(result)

In [28]:
clean_tweets2[:10]

['Please ignore prior tweets, as that was someone pretending to be me :)  This is actually me.\n873\n648\n5,453',
 "Went to Iceland on Sat to ride bumper cars on ice!  No, not the country, Vlad's rink in Van Nuys. Awesome family fun :)\n30\n24\n188",
 'I made the volume on the Model S http://ow.ly/i/mtD7 go to 11.  Now I just need to work in a miniature Stonehenge...\n29\n17\n78',
 'Great Voltaire quote, arguably better than Twain. Hearing news of his own death, Voltaire replied the reports were true, only premature.\n23\n30\n44',
 'That was a total non sequitur btw\n26\n14\n50',
 'Am reading a great biography of Ben Franklin by Isaacson. Highly recommended.\n18\n18\n80',
 'Got called randomly by Kanye West today and received a download of his thoughts, ranging from shoes to Moses. He was polite, but opaque.\n30\n675\n1,682',
 'Model S options are out! Performance in red and black for me.  I will deliver my car in June/July.\n49\n88\n697',
 'Yum! Even better than deep fried butter: http://ow.ly/877EB\n23\n24\n165',
 "Hi, I'm Art Garfunkel. Have you heard the sound of silence? Because, you know, it makes a sound...\n86\n211\n941"]

In [30]:
clean_tweets3 = []

for i in range(0, len(clean_tweets1)):
    for tweet in clean_tweets2:
        result = re.sub('RT @([A-Za-z0-9_]+\:) ', '', tweet)
        clean_tweets3.append(result)

MemoryError:

In [ ]:
zzz = clean_tweets3[7]

result = re.sub('\n', ' ', zzz)
result

In [ ]:
clean_tweets4 = []

for tweet in clean_tweets3:
    result = re.sub('\n', ' ', tweet)
    clean_tweets4.append(result)

In [ ]:
clean_tweets4[:25]

In [ ]:
clean_tweets5 = []

for tweet in clean_tweets4:
    result = re.sub(' https:?', '', tweet)
    clean_tweets5.append(result)

In [ ]:
aaa = clean_tweets5[15]
result = re.sub('@([A-Za-z0-9_]+)', '', aaa)
result

In [ ]:
clean_tweets6 = []

for tweet in clean_tweets5:
    result = re.sub('@([A-Za-z0-9_]+)', '', tweet)
    clean_tweets6.append(result)

In [ ]:
qqq = clean_tweets6[13]
result = re.sub('\s([#][\w_-]+)', '', qqq)
result

In [ ]:
clean_tweets7 = []

for tweet in clean_tweets6:
    result = re.sub('\s([#][\w_-]+)', '', tweet)
    clean_tweets7.append(result)

In [ ]:
clean_tweets8 = []

for tweet in clean_tweets7:
    result = re.sub('([#][\w_-]+)', '', tweet)
    clean_tweets8.append(result)

In [ ]:
clean_tweets8[:10]

In [ ]:
def clean_tweet(tweet):
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

In [ ]:
result

In [ ]:
x1 = clean_tweet(result.lower())

In [ ]:
def get_tweet_sentiment(tweet):
    
    analysis = TextBlob(clean_tweet(tweet.lower())) 
    if analysis.sentiment.polarity > 0: 
        return 'positive', analysis.sentiment.polarity
    elif analysis.sentiment.polarity == 0: 
        return 'neutral', analysis.sentiment.polarity
    else: 
        return 'negative', analysis.sentiment.polarity

In [ ]:
get_tweet_sentiment(result)

In [ ]:
clean_tweets8

In [ ]:
listy = []
for t in clean_tweets8:
    listy.append(get_tweet_sentiment(t))

In [ ]:
len(listy)