In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, train_test_split
from keras.models import Model, Sequential
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences
from keras.layers import Input, Dense, LSTM, Embedding, SpatialDropout1D, SimpleRNN
from keras.layers import Dropout, Activation, Bidirectional, GlobalMaxPool1D, RNN
from keras import initializers, regularizers, constraints, optimizers, layers
from keras.preprocessing import text, sequence
import pandas as pd
import numpy as np
np.random.seed(0)
from nltk import word_tokenize
from gensim.models import word2vec
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint

2022-07-19 11:02:56.623573: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /home/jiwon/study/catkin_ws/devel/lib:/home/jiwon/study/ws_moveit/devel/lib:/opt/ros/noetic/lib:/opt/ros/noetic/lib/x86_64-linux-gnu
2022-07-19 11:02:56.623604: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
def calc_change_pct(open, close):
    return (round((close - open) / open, 4) * 100)

In [3]:
# Drop unnecessary columns
stock = pd.read_csv('../csv/TSLA_addStockComp.csv')
stock = stock.drop(stock.columns[[0, 6]], axis=1)
stock = stock.rename(columns={'upDown':'Signal'})

# Caculate stock price change and add column
tmp = calc_change_pct(stock.Open, stock.Close)
tmp = pd.DataFrame(tmp)
tmp.columns = ['Change']
stock = pd.concat([stock, tmp], axis=1)

stock.head()

         Date   Open   High    Low  Close    Volume  Signal  Change
0  2010-06-29  3.800  5.000  3.508  4.778  93831500       1   25.74
1  2010-06-30  5.158  6.084  4.660  4.766  85935500      -1   -7.60
2  2010-07-01  5.000  5.184  4.054  4.392  41094000      -1  -12.16
3  2010-07-02  4.600  4.620  3.742  3.840  25699000      -1  -16.52
4  2010-07-06  4.000  4.000  3.166  3.222  34334500      -1  -19.45

In [4]:
stock = stock.drop(columns=[])

In [5]:
stock.Signal.value_counts()
stock.to_csv('../csv/binary_target.csv')

In [6]:
text = pd.read_csv('../csv/combined_text_data.csv')
text.head()

/tmp/ipykernel_19004/3607170727.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  text = pd.read_csv('../csv/combined_text_data.csv')

,Time,Unnamed: 0,ID,Tweet,Retweets,Tweet Length,aa,abandon,abb,abdomen,...,youth,yr,yup,yutu,zero,zip,zombie,zone,zoo,zoom
0,2010-06-05,0,0,"Please ignore prior tweets, as that was someon...","5,453",106,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2011-12-01,1,1,Went to Iceland on Sat to ride bumper cars on ...,188,129,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2011-12-01,2,2,I made the volume on the Model S http://ow.ly/...,78,125,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011-12-03,3,3,"Great Voltaire quote, arguably better than Twa...",44,145,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011-12-03,4,4,That was a total non sequitur btw\n26\n14\n50,50,42,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
text.rename(columns={'Time':'Date'}, inplace=True)
text = text.set_index('Date')
text.index = pd.DatetimeIndex(text.index)

#take_2 = pd.concat([text, stock], axis=1)
text.Date.astype('datetime64[ns]')
stock.Date.astype('datetime64[ns]')
take_2 = pd.merge(text, stock, on='Date', how='left')
take_2.Signal.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Date'

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA

In [ ]:
le = labelEncoder()

df_with_tfidf_pca.head()