In [1]:
import pandas as pd
import math
fname_input = '../csv/TSLA.csv'
data = pd.read_csv(fname_input)

In [2]:
def truncate(number, digits) -> float:
    nbDecimals = len(str(number).split('.')[1]) 
    if nbDecimals <= digits:
        return number
    stepper = 10.0 ** digits
    return math.trunc(stepper * number) / stepper

In [3]:
data['gap'] = 0 # 몇 퍼센트 상승, 하락했는지
data['upDown'] = 0 # 1퍼센트 이상 -1 : down, 1: up, 0 : same(default)

In [4]:
for i in range(data.shape[0]) :
    num = data.loc[i, 'Close'] - data.loc[i, 'Open']
    gap = (num / data.loc[i, 'Open']) * 100
    gap = truncate(gap, 2)
    data.loc[i, 'gap'] = gap
    if num < 0 and gap <= -1 : data.loc[i, 'upDown'] = -1
    elif num > 0 and gap >= 1 : data.loc[i, 'upDown'] = 1
    else : data.loc[i, 'upDown'] = 0

In [5]:
data = data.drop(columns=['High', 'Low', 'Adj Close'])

In [6]:
data.head()

         Date   Open  Close    Volume    gap  upDown
0  2010-06-29  3.800  4.778  93831500  25.73       1
1  2010-06-30  5.158  4.766  85935500  -7.59      -1
2  2010-07-01  5.000  4.392  41094000 -12.15      -1
3  2010-07-02  4.600  3.840  25699000 -16.52      -1
4  2010-07-06  4.000  3.222  34334500 -19.45      -1

In [7]:
data.to_csv('../csv/TSLA_addStockComp.csv', index=False)