In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, train_test_split
from keras.models import Model, Sequential
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences
from keras.layers import Input, Dense, LSTM, Embedding, SpatialDropout1D, SimpleRNN
from keras.layers import Dropout, Activation, Bidirectional, GlobalMaxPool1D, RNN
from keras import initializers, regularizers, constraints, optimizers, layers
from keras.preprocessing import text, sequence
import pandas as pd
import numpy as np
np.random.seed(0)
from nltk import word_tokenize
from gensim.models import word2vec
from alpha_vantage.timeseries import TimeSeries
from pprint import pprint

2022-07-21 13:49:56.200010: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory; LD_LIBRARY_PATH: /home/jiwon/study/catkin_ws/devel/lib:/home/jiwon/study/ws_moveit/devel/lib:/opt/ros/noetic/lib:/opt/ros/noetic/lib/x86_64-linux-gnu
2022-07-21 13:49:56.200048: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
def calc_change_pct(open, close):
    return (round((close - open) / open, 4) * 100)

In [3]:
# Drop unnecessary columns
stock = pd.read_csv('../csv/TSLA_addStockComp.csv')
stock = stock.rename(columns={'gap':'Gap', 'upDown':'Signal'})

stock_binary = stock.drop(['Open', 'Close'], axis=1)
stock_binary.to_csv('../csv/binary_target.csv', index=False)

In [4]:
stock_binary.head()

         Date    Volume    Gap  Signal
0  2010-06-29  93831500  25.73       1
1  2010-06-30  85935500  -7.59      -1
2  2010-07-01  41094000 -12.15      -1
3  2010-07-02  25699000 -16.52      -1
4  2010-07-06  34334500 -19.45      -1

In [5]:
text = pd.read_csv('../csv/combined_text_data.csv', dtype={'Retweets':'str'})
text = text.drop(['ID'], axis=1)

Date             object
Tweet            object
Retweets         object
Tweet Length      int64
Sentiment         int64
                 ...
zip             float64
zombie          float64
zone            float64
zoo             float64
zoom            float64
Length: 6557, dtype: object

In [7]:
# Merge tweet dataset + stock dataset
take_2 = pd.merge(text, stock_binary, on='Date', how='left')
take_2 = take_2.set_index('Date')
take_2.index = pd.DatetimeIndex(take_2.index)
take_2.head()

,Tweet,Retweets,Tweet Length,Sentiment,Polarity,abandon,abdomen,abigail,ability,ablate,...,yr,zero,zip,zombie,zone,zoo,zoom,Volume,Gap,Signal
Date,,,,,,,,,,,,,,,,,,,,,
2010-06-05,Please ignore prior tweets as that was someone...,"5,453",106,0,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2011-12-01,Went to Iceland on Sat to ride bumper cars on ...,188,129,1,0.65,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5151000.0,0.09,0.0
2011-12-01,I made the volume on the Model S,78,125,0,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5151000.0,0.09,0.0
2011-12-03,Great Voltaire quote arguably better than Twai...,44,145,1,0.45,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2011-12-03,That was a total non sequitur btw,50,42,0,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [9]:
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
from nltk.corpus import stopwords
import nltk
from nltk import word_tokenize, FreqDist
from nltk.stem import WordNetLemmatizer
from sklearn.decomposition import PCA
from gensim.models import Word2Vec

In [10]:
le = LabelEncoder()
pca = PCA(n_components=6551)

# Fit PCA
tfidf_df = take_2.iloc[:, 5:-3]
pca.fit(tfidf_df)

PCA(n_components=6551)

In [11]:
# Transform PCA into DataFrame
x_pca = pca.transform(tfidf_df)

pca_df = pd.DataFrame(x_pca)
pca_df.head()

array([[-1.05592263e-01, -2.98301855e-02, -8.39622926e-02, ...,
        -1.37185456e-17,  3.45631794e-17, -2.17225834e-17],
       [-9.90763681e-02, -2.10819757e-02, -3.81392760e-02, ...,
         2.78944890e-17,  2.11461775e-18, -6.52706648e-17],
       [-1.14545777e-01, -3.58959433e-02, -1.26652942e-01, ...,
        -1.69313416e-17, -1.00839272e-17,  2.04414461e-17],
       ...,
       [-7.09375163e-02,  5.25169901e-03,  8.77147173e-02, ...,
        -1.51991592e-17,  3.10446045e-17, -6.95286995e-18],
       [ 2.82544582e-01, -3.77336047e-02,  1.39670742e-01, ...,
         4.81284121e-18, -1.11698235e-17, -4.26481089e-19],
       [ 9.07039452e-02, -1.08609343e-02,  6.68066180e-02, ...,
        -6.63226798e-18,  3.40422542e-18, -2.49116625e-17]])

In [17]:
# Labeling words as pca_i instead of word itself
labels = []
for i in range(1, 6552):
    labels.append('pc_'+ str(i))

pca_df.columns = labels

In [21]:
# Replace empty word columns with processed PCA
take_2 = take_2.reset_index()
df_with_tfidf_pca = pd.concat([take_2.iloc[:, :5], pca_df], axis=1)
df_with_tfidf_pca.drop(columns = ['Sentiment'], inplace=True)

df_with_tfidf_pca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12191 entries, 0 to 12190
Columns: 6555 entries, Date to pc_6551
dtypes: datetime64[ns](1), float64(6551), int64(1), object(2)
memory usage: 609.7+ MB

In [23]:
df_with_tfidf_pca = pd.concat([df_with_tfidf_pca, take_2.iloc[:, -3:]], axis=1)
df_with_tfidf_pca.head()

,Date,Tweet,Retweets,Tweet Length,pc_1,pc_2,pc_3,pc_4,pc_5,pc_6,...,pc_6545,pc_6546,pc_6547,pc_6548,pc_6549,pc_6550,pc_6551,Volume,Gap,Signal
0,2010-06-05,Please ignore prior tweets as that was someone...,"5,453",106,-0.105592,-0.029830,-0.083962,0.082105,0.017019,0.134082,...,3.699205e-17,1.521779e-17,-3.403527e-17,-1.770595e-17,-1.371855e-17,3.456318e-17,-2.172258e-17,NaN,NaN,NaN
1,2011-12-01,Went to Iceland on Sat to ride bumper cars on ...,188,129,-0.099076,-0.021082,-0.038139,0.000626,0.003329,-0.062547,...,-1.365654e-16,-1.207107e-17,-4.292488e-17,-1.012632e-16,2.789449e-17,2.114618e-18,-6.527066e-17,5151000.0,0.09,0.0
2,2011-12-01,I made the volume on the Model S,78,125,-0.114546,-0.035896,-0.126653,0.046923,0.045059,-0.215881,...,-2.343465e-17,8.491505e-18,-1.573575e-18,-5.592959e-18,-1.693134e-17,-1.008393e-17,2.044145e-17,5151000.0,0.09,0.0
3,2011-12-03,Great Voltaire quote arguably better than Twai...,44,145,-0.091030,-0.017803,0.093363,0.155490,0.025837,-0.022723,...,7.199780e-21,8.755356e-17,5.221323e-18,-8.323073e-17,5.480303e-18,-7.318216e-17,-1.918148e-17,NaN,NaN,NaN
4,2011-12-03,That was a total non sequitur btw,50,42,-0.083948,-0.008909,0.008896,0.003783,0.006889,0.062488,...,-2.097762e-17,1.319635e-16,1.892208e-17,-5.606935e-18,1.346528e-17,8.203938e-18,1.498825e-18,NaN,NaN,NaN

In [24]:
df_with_tfidf_pca = df_with_tfidf_pca.dropna()
df_with_tfidf_pca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8526 entries, 1 to 12188
Columns: 6558 entries, Date to Signal
dtypes: datetime64[ns](1), float64(6554), int64(1), object(2)
memory usage: 426.7+ MB

In [27]:
df_with_tfidf_pca.to_csv('../csv/updated_target_merged_data.csv', index=False)